/*CONTACTO*/
.Marco_general{
    width: 100%;
    background-color: hsla(60, 56%, 91%, 0.25);
    .titulo_contacto{
        padding: 10px;
    }
    .formulario{
        background-color: #f5f5dc;
        box-shadow: 2px 2px 5px gray;
        .lineas_formulario{
            display: flex;
            flex-direction: column;
            padding: 5px;
            justify-content: space-evenly;
            .label{
                width: 100%;
                padding-bottom: 2px;
            }
            .cuadro_texto{
                width: 100%;
            }
        }
    }
    .donde_encontrarnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .recuadro_contactos{
            display: flex;
            flex-direction: row;
            align-items:center;
            .mapa{
                box-shadow: 2px 2px 5px gray;
            }
        }
    }
}