/*SITIO WEB - GENERALES*/
*{
    padding: 0px;
    margin: 0px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    text-align: center;
    padding: 20px;
}

/*PÁGINAS*/

/*INDEX*/
/*Estilo de la sección de beneficios*/
.seccion_color_1{
    background-color: #f5f5dc;
    .beneficios_general{
        gap: 10px; 
        #beneficios{
            background-color: beige; 
                justify-content: center;
                text-align: center; 
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                padding-top: 10px;
        }
    }
}

/* Estilo del contenedor de la galería */
.galeria {
    display: flex;
    flex-direction: column; /* Estructura en columna (Título y galería) */
    align-items: center;
    justify-content: space-evenly; /* Espacio entre el título y las imágenes */
    background-color: beige; /* Fondo claro para la sección */
}

/*Testimonios*/

.testimonio{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(245, 245, 220, 0.5);
    padding: 10px;
    margin: 10px;
    .testimonio_texto{
        font-size: small;
        font-style: italic;
    }
    .nombre_comentador{
        text-align:right
    }
}

/*QUIENES SOMOS*/
.titulo{
    padding: 30px;
    margin-bottom: -20px;
}

.marco_general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .especialidad{
        padding: 20px;
        margin: 50px;
        background-color: #f5f5dc;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 5px gray;
        .recuadro_imagen_especialidad{
            border: 2px solid rgba(128, 128, 128, 0.163);
            border-radius: 10px;
            margin:10px;
            background-color: white;
            display: flex;
            justify-content: center;
            .imagen_especialidad{
                width: auto;
                height: 45vh;
                overflow:hidden;
                object-fit:cover;
                object-position:top;
            }
            .descripcion_especialidad{
                font-style: italic;
            }
        }
    }
}

/*NUESTRAS OFERTAS*/

.ofertas_general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    .titulo_ofertas{
        padding: 20px;
    }
    .subtitulo_ofertas{
        padding: 10px;
        font-style: italic;
        text-align: center;
    }
    .oferta_grande{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f5f5dc;
        box-shadow: 2px 2px 5px gray;
        justify-content: center;
        align-items: center;
        .imagen_oferta{
            box-shadow: 2px 2px 5px gray;
        }
        .descripcion_oferta_grande{
            padding: 10px;
            font-style: italic;
        }
        .ofertas_pequeñas{
            display: flex;
            align-content: center;
            justify-content: center;
            height: 100%;
            .ofertas_pequeñas_fila{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .cajas_ofertas_pequeñas_fila{
                display: flex;
                flex-direction: column;
                background-color: #f5f5dc;
                box-shadow: 2px 2px 5px gray;
                align-items: center;
                justify-content:space-between;
            }
        }
    }
}

/*GALERIA*/
/*grilla de galeria*/
.galeria-grilla{
    height: 100vh; /* Toda la pantalla */
    width: 100vw;
    overflow-x: hidden;
    margin: 10px; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:10px;    
    grid-template-areas:
    "cont1 cont1 cont1 cont1 cont2 cont2 cont3 cont3 cont4 cont4 cont4 cont4"
    "cont1 cont1 cont1 cont1 cont2 cont2 cont3 cont3 cont4 cont4 cont4 cont4"
    "cont5 cont5 cont6 cont6 cont6 cont6 cont3 cont3 cont8 cont8 cont8 cont8"
    "cont5 cont5 cont6 cont6 cont6 cont6 cont3 cont3 cont8 cont8 cont8 cont8"
    "cont5 cont5 cont7 cont7 cont7 cont7 cont7 cont7 cont8 cont8 cont8 cont8"
    "cont5 cont5 cont7 cont7 cont7 cont7 cont7 cont7 cont8 cont8 cont8 cont8";
    .contenedor-1 { 
        grid-area: cont1;
    }
    .contenedor-2 { 
        grid-area: cont2; 
    }
    .contenedor-3 { 
        grid-area: cont3; 
    }
    .contenedor-4 { 
        grid-area: cont4; 
    }
    .contenedor-5 { 
        grid-area: cont5; 
    }
    .contenedor-6 { 
        grid-area: cont6; 
    }
    .contenedor-7 { 
        grid-area: cont7; 
    }
    .contenedor-8 { 
        grid-area: cont8; 
    }
    > div {
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

@media (max-width: 576px) {    
    .galeria-grilla{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100vw;
        > div {
            flex: 1;
            height: 100vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }
}

/*CONTACTO*/
.Marco_general{
    width: 100%;
    background-color: hsla(60, 56%, 91%, 0.25);
    .titulo_contacto{
        padding: 10px;
    }
    .formulario{
        background-color: #f5f5dc;
        box-shadow: 2px 2px 5px gray;
        .lineas_formulario{
            display: flex;
            flex-direction: column;
            padding: 5px;
            justify-content: space-evenly;
            .label{
                width: 100%;
                padding-bottom: 2px;
            }
            .cuadro_texto{
                width: 100%;
            }
        }
    }
    .donde_encontrarnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .recuadro_contactos{
            display: flex;
            flex-direction: row;
            align-items:center;
            .mapa{
                box-shadow: 2px 2px 5px gray;
            }
        }
    }
}